.header-slide:nth-child(1) {
  transform: rotateX(0deg) translateZ(0.5rem);
}

.header-slide:nth-child(2) {
  transform: rotateX(-90deg) translateZ(0.5rem);
}

.header-slide:nth-child(3) {
  transform: rotateX(-180deg) translateZ(0.5rem);
}

.header-slide:nth-child(4) {
  transform: rotateX(-270deg) translateZ(0.5rem);
}

/* tablet */
/* @media (min-height: 768px) {
  header#home li:nth-child(1) {
    transform: rotateX(0deg) translateZ(2rem);
  }

  header#home li:nth-child(2) {
    transform: rotateX(-90deg) translateZ(2rem);
  }

  header#home li:nth-child(3) {
    transform: rotateX(-180deg) translateZ(2rem);
  }

  header#home li:nth-child(4) {
    transform: rotateX(-270deg) translateZ(2rem);
  }
} */

/* desktop */
/* @media (min-height: 1024px) {
  header#home li:nth-child(1) {
    transform: rotateX(0deg) translateZ(2rem);
  }

  header#home li:nth-child(2) {
    transform: rotateX(-90deg) translateZ(2rem);
  }

  header#home li:nth-child(3) {
    transform: rotateX(-180deg) translateZ(2rem);
  }

  header#home li:nth-child(4) {
    transform: rotateX(-270deg) translateZ(2rem);
  }
} */
