@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 50, 50, 50;
    --primaryLight: 100, 100, 50;
    --primaryDark: 0, 0, 0;
    --secondary: 245, 245, 245;
    --secondaryLight: 255, 255, 255;
    --secondaryDark: 230, 230, 230;
    --error: 191, 6, 49;
    --accent1: 30, 56, 92;
    --accent2: 163, 109, 2;
  }
}

body {
  @apply bg-primary min-h-screen text-secondary;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.center {
  @apply items-center;
}
