@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 30, 30, 30;
    --primaryLight: 60, 60, 50;
    --primaryDark: 0, 0, 0;
    --secondary: 245, 245, 245;
    --secondaryLight: 255, 255, 255;
    --secondaryDark: 230, 230, 230;
    --error: 191, 6, 49;
    --accent1: 97, 81, 139;
    --accent2: 163, 109, 2;
  }
}

body {
  @apply bg-primary min-h-screen text-secondary;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.center {
  @apply items-center;
}

button {
  @apply px-4 py-2 rounded shadow-md;
}

button.primary {
  @apply bg-accent1;
}

button.secondary {
  @apply border-2 border-secondary;
}
