@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./generic.css";
@import "./loading.css";

@layer base {
  :root {
    --primary: 15, 15, 20;
    --primary-light: 30, 30, 40;
    --primary-dark: 0, 0, 0;
    --secondary: 245, 245, 245;
    --secondary-light: 255, 255, 255;
    --secondary-dark: 230, 230, 230;
    --error: 245, 130, 130;
    --accent1: 97, 81, 139;
    --accent2: 163, 109, 2;
  }
}

body {
  @apply min-h-screen bg-primary text-secondary;
}

button {
  @apply rounded px-4 py-2 shadow-md;
}

button.primary {
  @apply bg-accent1;
}

button.secondary {
  @apply border-2 border-secondary;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  @apply font-bold;
}

h1 {
  @apply text-4xl lg:text-7xl;
}

h2 {
  @apply text-2xl lg:text-4xl;
}

h3 {
  @apply text-xl lg:text-2xl;
}

h4 {
  @apply text-lg;
}

p {
  @apply font-light;
}

form,
.form {
  @apply flex w-screen max-w-xl flex-col items-center p-8;
}

label {
  @apply mb-1 w-full text-left text-sm font-bold opacity-80;
}

label.required::after {
  content: "*";
  @apply text-error;
}

input,
textarea {
  @apply w-full rounded bg-primary-light p-2 text-secondary;
}

table {
  @apply text-center;
}

td {
  @apply h-8 w-16 text-ellipsis whitespace-nowrap border-2 border-primary-light px-6 py-2;
}

th {
  @apply bg-secondary text-primary;
}
