---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SecondaryButton from '@/components/buttons/SecondaryButton';
import PrimaryButton from '@/components/buttons/PrimaryButton';
---

<Layout title="Welcome to Elevate!">
	<div class="grid grid-rows-2 items-center justify-items-center w-screen min-h-screen lg:flex lg:flex-row lg:center pt-16 lg:pt-0"
		style={{
			gridTemplateRows: "auto auto"
		}}
	>
		<header class="p-4 py-10 lg:p-20 w-full lg:w-4/5 max-w-xl lg:max-w-3xl">
			<h1>Freedom Ball</h1>
			<div class="w-full row center justify-between flex-wrap">
				<h3 class="pr-4">Scottsdale Ranch Park</h3>
				<h3>Jan 21, 2022</h3>
			</div>
			<p class="my-8 lg:my-16">
				fsjlafdkjsa;f dkfld jasfkd afjdsakfdljafdk afjdkalf 
				djak fjdaklf dk dksafljd alkj dkajf dklsaljlkj lkfjd
				slkajfkldsjaflkjdsakljlk lksdjlkfjdlkj fl
			</p>
			<div class="row center justify-between">
				<a href='/'>
					<SecondaryButton>More Info</SecondaryButton>
				</a>
				<a href="/">
					<PrimaryButton>Register</PrimaryButton>
				</a>
			</div>
		</header>
		<img src="/volleyball.png" class="object-cover w-screen h-full max-h-screen lg:h-screen" />
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		/* font-size: 3rem; */
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
