---
import Header from '@/components/header';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elevate Experience - Coming Soon">
  <div class="w-screen h-screen col center justify-between py-10">

    <Header client:load />
    <span class="font-light">Elevate Experience</span>
  </div>
</Layout>

