@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 15, 15, 20;
    --primaryLight: 60, 60, 50;
    --primaryDark: 0, 0, 0;
    --secondary: 245, 245, 245;
    --secondaryLight: 255, 255, 255;
    --secondaryDark: 230, 230, 230;
    --error: 191, 6, 49;
    --accent1: 97, 81, 139;
    --accent2: 163, 109, 2;
  }
}

body {
  @apply bg-primary min-h-screen text-secondary;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.center {
  @apply items-center;
}

button {
  @apply px-4 py-2 rounded shadow-md;
}

button.primary {
  @apply bg-accent1;
}

button.secondary {
  @apply border-2 border-secondary;
}

.border-b-1 {
  border-bottom: 1px solid;
}

.parent-pretext,
.parent,
.child {
  @apply h-8 sm:h-10 text-2xl sm:text-4xl lg:text-6xl lg:h-16;
}

.parent,
.child {
  @apply w-36 sm:w-52 lg:w-80;
}

.parent {
  @apply relative;
  transform-style: preserve-3d;
  transition: 0.75s ease-in-out transform;
}

.child {
  @apply origin-center absolute top-0 left-0 w-full row center primary font-medium;
  backface-visibility: hidden;
}

.child:nth-child(1) {
  transform: rotateX(0deg) translateZ(1rem);
}

.child:nth-child(2) {
  transform: rotateX(-90deg) translateZ(1rem);
}

.child:nth-child(3) {
  transform: rotateX(-180deg) translateZ(1rem);
}

.child:nth-child(4) {
  transform: rotateX(-270deg) translateZ(1rem);
}

/* tablet */
@media (min-height: 768px) {
  .child:nth-child(1) {
    transform: rotateX(0deg) translateZ(2rem);
  }

  .child:nth-child(2) {
    transform: rotateX(-90deg) translateZ(2rem);
  }

  .child:nth-child(3) {
    transform: rotateX(-180deg) translateZ(2rem);
  }

  .child:nth-child(4) {
    transform: rotateX(-270deg) translateZ(2rem);
  }
}

/* desktop */
@media (min-height: 1024px) {
  .child:nth-child(1) {
    transform: rotateX(0deg) translateZ(2rem);
  }

  .child:nth-child(2) {
    transform: rotateX(-90deg) translateZ(2rem);
  }

  .child:nth-child(3) {
    transform: rotateX(-180deg) translateZ(2rem);
  }

  .child:nth-child(4) {
    transform: rotateX(-270deg) translateZ(2rem);
  }
}
